<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<frameset border=0 framespacing=0 rows="50, *" frameborder=0>
        <frame name=head src="__CONTROLLER__/head.html" frameborder=0 noresize scrolling=no>
            <frameset cols="116, *">
                <frame name=left src="__CONTROLLER__/left.html" frameborder=0 noresize scrolling=no/>
                <frame name=right src="__CONTROLLER__/right.html" frameborder=0 noresize scrolling=yes />
            </frameset>
    </frameset>
    <noframes>
    </noframes>
</html>