@charset "utf-8";
/* CSS Document */
body{ font-family:"宋体" Arial; font-size:12px;  padding:0; margin:0; position:relative;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,label,select,option,textarea,button,p,span{ margin:0;padding:0; font-size:12px; font-weight:normal;}
img{ border:0; vertical-align:top; font-size:0; line-height:0;}
ul,li,ol,ul { list-style:none;}
a{ text-decoration:none; color:#555; blr:expression(this.onFocus=this.blur());outline: none;}
a:hover{ text-decoration:none; color:#fff;}
.red{ color:#a00;}
.l{ float:left}
.r{ float:right}
.mid{
	width:980px;
	margin:0 auto;
}
.clear{ clear:both;}




.jianjie li{
	font-size:16px;
	margin-top:5px;
	margin-bottom:10px;
	font-family: inherit;
	font-weight: bold;
	width: 638px;
}
.jianjie2 li{
	font-size:16px;
	margin-top:5px;
	margin-bottom:80px;
	font-family: inherit;
	font-weight: bold;
	width: 638px;
}
.jianjie2 ul{margin-bottom:30px;}
.jianjie ul{margin-bottom:30px;}
.jianjie1 ul{
	margin-bottom:30px;
	width:830px;
	list-style-position: inside;
}
.jianjie1 li{
	font-size:14px;
	line-height:200%;
	margin-top:5px;
	margin-bottom:10px;
	font-family: inherit;
	font-weight: bold;
	width: 638px;
	word-spacing: 3em;
}
.bbr{
	font-family:inherit;
	font-size:16px;
	height:30px;
	letter-spacing: 2px;
	color: #666666;
	font-weight: bold;
	margin-top: 10px;
}
.bbt{
	font-family:inherit;
	font-size:16px;
	height:50px;
	line-height: 150%;
	font-weight: bold;
	color: #666666;
	margin-bottom: 40px;
	margin-right: 50px;
}
.biaozhun_image1{ float:left; width:400px; height:200px; }















.bg{ padding-top:10px; margin:0 auto;}
.head{}
.nav{ overflow:auto; margin-bottom:20px; margin-top:10px;}
.logo{ float:left; color:#000; font-family:"微软雅黑"; font-size:16px; font-weight:bold;}
.ecn{float:right;  margin-right:10px; text-align:right;}
.ecn img{ margin-right:5px;}
.ecn a{ color:#000; line-height:14px;}
.menu{ overflow:auto; background:url(../images/bgmenu.png); height:88px; width:1207px;}
.menu ul li{ float:left; line-height:70px;}
.menu ul li a{ color:#000; font-family:"微软雅黑"; font-size:16px; width:129px; height:72px; display:block; text-align:center; background:url(../images/fjx.gif) no-repeat 0 18px;}
.menu ul li a:hover{ color:#fff; width:129px; height:72px; background:url(../images/menudq.gif) no-repeat 0 0; display:block; text-align:center;}
.dq{background:url(../images/menudq.gif) no-repeat 0 0; color:#fff;}
.menu ul li.dq a{color:#fff; background:none;}
.menu ul li.dq a:hover{color:#fff; background:none;}

.banner{ margin-top:50px; margin-bottom:65px;}
.neibanner{ height:200px; background:#f5f5f5;}

.tel{font-family:'微软雅黑'; font-size:22px; margin-top:10px; background:url(../images/tel.png) no-repeat 0 center; padding-left:15px;}

.con{ margin-top:10px; height:250px;}
.c_about{ float:left; width:367px;}
.c_about dl{ margin-top:10px; width:338px;}
.c_about dl dt{ float:left; margin-right:10px;}
.c_about dl dd{ font-family:"微软雅黑";text-indent:1em; color:#555; line-height:20px; }
.c_about dl dd a{ color:#0c4da2;}

.c_news{float:left; width:367px;}
.c_news ul{width:338px;}
.c_news ul li{ height:34px; border-bottom:dashed 1px #d8d8d8; line-height:34px;}
.c_news ul li a{ font-family:"微软雅黑"; padding-left:10px; background:url(../images/sjx.gif) no-repeat 0 center; float:left;}
.c_news ul li span{ float:right; font-family:"微软雅黑"; color:#999;}

.c_contact{ float:right; width:246px;}
.c_contact img{ margin-top:10px; margin-bottom:5px;}
.con p{ color:#555; font-family:"微软雅黑"; }
.c_titles{ height:33px; border-bottom:solid 1px #d8d8d8; width:246px;}
.c_titles a{ line-height:33px; font-family:"微软雅黑"; background:url(../images/sjx.png) no-repeat 0 center; padding-left:10px;}
.c_title{ height:33px; border-bottom:solid 1px #d8d8d8; width:338px;}
.c_title a{ line-height:33px; font-family:"微软雅黑"; background:url(../images/sjx.png) no-repeat 0 center; padding-left:10px;}

.bottomty{ background:url(../images/bottomty.gif) repeat-x; height:9px;}
.copybg{ height:90px; background:url(../images/copybg.gif);}
.copybg .copy{color:#fff; font-family:"微软雅黑"; text-align:center; padding-top:17px;}
.copybg .copy p{ line-height:28px;}
.copybg .copy p a{ color:#fff}


/**************框架****************/
.danei{
	border-top:solid 2px #d10220;
	margin-top:10px;
	padding-bottom:20px;
	bottom: auto;
}
.con_left{
	width:150px;
	float:left;
	font-size: 12px;
}
.lefts{ width:150px;}
.lefts_title{ width:130px; height:50px; font-family:"微软雅黑"; font-size:16px; color:#000; border-bottom:solid 1px #ccc; margin-top:10px; background:url(../images/titlepng.png) no-repeat 0 13px; padding-left:20px; line-height:40px;}
.con_left ul li{ height:39px;  border-bottom:dashed 1px #ccc; width:140px; background:url(../images/sjx.png) no-repeat 0 center; padding-left:10px;}
.con_left ul li a{ font-family:inherit; line-height:39px; font-size:12px;}
.con_left ul li a:hover{ color:#900; font-size:12px;}

.con_right{ float:right; width:830px;}
.right_title{
	font-family:inherit;
	font-size:16px;
	border-bottom:solid 1px #ccc;
	width:830px;
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-weight: bold;
}
.right_con{  margin-top:15px;}
.right_con p{font-size:12px; color:#000; line-height:30px; color:#555;}

.neicptitle{height:50px; font-family:"微软雅黑"; font-size:16px; color:#000; border-bottom:solid 1px #ccc; margin-top:10px; background:url(../images/titlepng.png) no-repeat 0 13px; padding-left:20px; line-height:40px;}
.neicptitle a{ margin-right:50px;}
.neicptitle a:hover{ color:#900;}
.neicpimg{ overflow:auto;}

.neinews{ overflow:auto;}
.neinews ul li{ height:30px; border-bottom:dashed 1px #ccc; width:940px; background:url(../images/sjx.png) no-repeat 0 4px; padding-left:10px; margin-bottom:15px;}
.neinews ul li a{ float:left;}
.neinews ul li a:hover{ color:#900;}
.neinews ul li span{ float:right; color:#999;}

.map{overflow:auto;}
.map dl{display:block; overflow:auto; margin-top:15px; border-bottom:dashed 1px #ccc; padding-bottom:15px;}
.map dl dt{ float:left; margin-right:20px;}
.map dl dt a{ color:#900; font-size:16px; font-family:"微软雅黑"; font-weight:bold;}
.map dl dd{ float:left; color:#555; font-size:16px; font-family:"微软雅黑"; margin-right:20px;}
.map dl dd a:hover{ color:#555;}

.cuspages a:link,.cuspages a:visited{text-decoration:none; color:#999;}
.cuspages a:hover {text-decoration:underline}
/* pages */
.pages{clear:both;margin:10px 0}
	.pages em, .pages a, .pages strong{text-decoration:none;margin-left:3px;padding:2px 5px;border:1px solid #E5E5E5}
	.pages a:hover{text-decoration:none;border:1px solid #09C;background:#09C;color:#FFF}
	.pages strong{border:none;font-weight:700}
	.cuspages{margin:5px 0px;;line-height:200%; clear:both; text-align:center;}
	.cuspages .pages{display:inline;clear:none;margin-right:45px}

