<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta name="keywords" content="道闸广告,武汉道闸广告,恒盛文广,广告道闸" />
<meta name="description" content="道闸广告,武汉道闸广告,恒盛文广,广告道闸" />
<title>恒盛文广</title>
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/reset.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/base.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/tipTip.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/short-code.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/css3.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/slider.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/style.css">
<script type="text/javascript" src="{$Think.config.JS_URL}/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/cufon-yui.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/TitilliumText.font.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/cufon-replace.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/scripts.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/custom.js"></script>
<script type="text/javascript" src="{$Think.config.JS_URL}/shortcode.js"></script><!--[if IE 7]><link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}/ie7.css"><![endif]-->
<style type="text/css">
<!--
.STYLE6 {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}
-->
</style>
</head>
<body class="home"><!--Header-->
<div class="full-width-wrapper" id="header">
  <div class="full-width-wrapper" id="abstract-bg"><!--Banner-->
    <div class="fixed-width-wrapper" id="banner">
      <a href="index.html" title="" class="logo"><img src="{$Think.config.IMG_URL}/logo2.png" alt="Maxx - The Modern HTML template"></a>
     <!--/Banner--> <!--<ul class="social-network">
	    <li><a href="#" title="Facebook"><img src="{$Think.config.IMG_URL}/icons/facebook.png" alt=""></a></li>
		<li><a href="#" title="Twitter"><img src="{$Think.config.IMG_URL}/icons/twitter.png" alt=""></a></li>
		<li><a href="#" title="Delicious"><img src="{$Think.config.IMG_URL}/icons/delicious.png" alt=""></a></li>
	  </ul>-->
	</div><!--/Banner--><!--Navigation + Search-->
	<div class="fixed-width-wrapper border-radius-5px" id="navigation-bar">
		<div id="g-navigation"><ul class="simple-drop-down-menu">
          <li class="home-page current border-radius-left-5px"><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('About/about')}" title="">公司简介</a></li>
          <li><a href="{:U('Chenei/showlist')}" title="">广告预约</a>
            <ul>
               <li><a href="{:U('Chenei/showlist')}" title="">车内广告</a></li>
               <li><a href="{:U('Cheshen/showlist')}" title="">车身广告</a></li>
                <li><a href="{:U('Zhanpai/showlist')}" title="">站牌广告</a></li>
            </ul>
          </li>
          <li><a href="{:U('Youshi/youshi')}" title="">媒体优势</a></li>
          <li><a href="{:U('Blog/blog')}" title="">媒体资源</a></li>
          <li><a href="{:U('Poli/poli')}" title="">营销政策</a></li>
          <li><a href="{:U('Contact/contact')}" title="">联系我们</a></li>
          <?php if(empty($_SESSION['userid'])) { ?>
            <li class="denglu"><a href="{:U('User/login')}" title="">登录</a></li>
            <li class=""><a href="{:U('User/register')}" title="">注册</a></li>
          <?php } else { ?>
            <li class="myname"><a href="">{$Think.session.username}</a></li>
            <li class=""><a href="{:U('Order/showlist')}" title="">我的订单</a></li>
            <li class=""><a href="{:U('User/logout')}" title="">注销</a></li>
        <?php   } ?>
            </div>

      </div>
    </div><!--/Navigation + Search-->
  </div>



<!--/中部开始-->
<div class="mid">
  <div class="danei mid">
  <div class="midimage"><img src="{$Think.config.IMG_URL}/blog1.png" width="980" height="300" /></div>
    <div class="con_left">
      <ul>
        <li><a href="blog.html" style="font-weight:bold;">媒体资源</a></li>
        <li><a href="blog.html" >合作伙伴</a></li>

      </ul>
    </div>
	<!--/下部文字部开始-->
    <div class="con_right">
      <div class="right_title">媒体资源：武汉点位图</div>
	  <div class="biaozhun_image"><img src="{$Think.config.IMG_URL}/dianwei.png"  /></div>
	  <div class="right_title">武汉合作伙伴</div>
	  <div class="biaozhun_image"><img src="{$Think.config.IMG_URL}/hezuo.png"  /></div>
	<!--/中部开始  <div class="tpwz">-->


     <!--/中部开始  <div class="right_con">  -->


    </div><!--/下部文字部结束-->

  </div>
</div>







<!--/中部结束-->










   <!--尾部图片-><!--Slider-->
<div class="full-width-wrapper" id="footer-extra-wrapper"><div class="fixed-width-wrapper"><div id="copyright"><a href="#" class="logo float-left" title=""><img src="{$Think.config.IMG_URL}/logo-foot1.png" alt=""></a><ul><li>(c) 2011 Allright reservred </li><li><a href="#" title="">Privacy Policy</a></li><li><a href="#" title="">Terms and Conditions</a></li></ul><a href="#" class="back-to-top sprite" title="Back to top">Back to top</a></div></div></div>
	<!--/尾结束-->
</body></html>

