<!DOCTYPE html >
<html>
<head>
    <title id="title">bootstrap风格的html5表单验证示例</title>
    <link href="{$Think.config.CSS_URL}/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.CSS_URL}/dashboard.css" rel="stylesheet">
    <link href="{$Think.config.CSS_URL}/mypage.css" rel="stylesheet">
    <style>
    body {
      background:url({$Think.config.IMG_URL}/bus_safe.jpg) repeat;
    }
    </style>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">公交广告预约</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <if condition="$Think.session.userid neq null">
            <li><a href="#">{$Think.session.username}</a></li>
            <li><a href="{:U('Order/showlist')}" target="_blank">我的订单</a></li>
            <li><a href="{:U('User/logout')}">注销</a></li>
          <else/>
            <li><a href="{:U('User/login')}" target="_blank">登录</a></li>
            <li><a href="{:U('User/register')}" target="_blank">注册</a></li>
          </if>

          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

  <table class="table table-striped">
  <caption>我的订单</caption>
  <thead>
    <tr>
      <th>公司名称</th>
      <th>姓名</th>
      <th>电话</th>
      <th>手机</th>
      <th>邮箱</th>
      <th>广告内容</th>
      <th>广告位类别</th>
      <th>广告位位置</th>
      <th>广告位价格</th>
    </tr>
  </thead>
  <tbody>
  	<foreach name="info" item="v">
    <tr class="active">
      <td>{$v.ordercname}</td>
      <td>{$v.orderufname}</td>
      <td>{$v.orderuphone}</td>
      <td>{$v.orderumphone}</td>
      <td>{$v.orderuemail}</td>
      <td>{$v.orderdes}</td>
      <td>{$v.ordertype}</td>
      <td>{$v.orderlocation}</td>
      <td>{$v.orderprice}</td>
    </tr>
    </foreach>
  </tbody>
</table>

<div class="pages">
    {$page}
</div>

</body>
</html>
