<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>广告位列表</title>
        <link href="{$Think.config.BACK_CSS_URL}/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link href="{$Think.config.BACK_CSS_URL}/mine.css" type="text/css" rel="stylesheet" />
        <script src="{$Think.config.BACK_JS_URL}/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
            .add {
              position:absolute;
              top:-8px;
              right:120px;
            }
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：广告位管理-》广告位列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{:U('tianjia')}" class="add"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>添加广告位</button></a>
                </span>
            </span>
        </div>
        <div></div>
        <div class="div_search">
            <span>
                <form action="#" method="get">
                    类别<select name="s_product_mark" style="width: 100px;">
                        <option selected="selected" value="0">请选择</option>
                        <option value="1">苹果apple</option>
                    </select>
                    <input value="查询" type="submit" />
                </form>
            </span>
        </div>
        <div style="font-size: 13px; margin: 10px 5px;text-align:center">
            <table class="table table-striped table-hover" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>编号</td>
                        <td>类别</td>
                        <td>状态</td>
                        <td>位置</td>
                        <td>价格</td>
                        <td>广告编号</td>
                        <td>简介</td>
                        <td colspan="2">操作</td>
                    </tr>
                    <foreach name="info" item="v">
                    <tr id="place">
                        <td><a href="#">{$v.placeno}</a></td>
                        <td>{$v.catename}</td>
                        <td>{$v.status}</td>
                        <td>{$v.location}</td>
                        <td>{$v.price}</td>
                        <td>{$v.adverno}</td>
                        <td>{$v.description}</td>
                        <td><a href="{:U('upd',array('placeid'=>$v['placeid']))}"><button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i>修改</button></a></td>
                        <td><a href="__CONTROLLER__/delPlace/placeid/{$v.placeid}" onclick="return confirm('确定删除这个广告吗？')"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>删除</button></a></td>
                    </tr>
                    </foreach>

                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
